body {
  padding: 0;
  margin: 0;
  font-family: "Manrope", Helvetica, sans-serif;
  background: linear-gradient(
    170deg, 
    rgba(241, 244, 253, 0.07) 0%, 
    rgba(218, 70, 239, 0.05) 42%, 
    rgba(99, 102, 241, 0.1) 83%
  );
  font-size: 16px;
}

button {
  font-family: "Manrope", Helvetica, sans-serif;
  color: #565973
}

h2 {
  font-size: 40px;
  margin: 25px 0;
}

p {
  color: #565973;
  font-size: 1rem;
  
}

