.section-five-customers {
  display: flex;
  justify-content: center;
  gap: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.section-five-customers h2 {
  max-width: 300px;
}

.section-five-customers-one {
  display: flex;
}

.testimonial-bubble {
  background-color: #ffffff; 
  border: 1px solid #e0e0e0; 
  border-radius: 16px; 
  padding: 30px; 
  width: 329px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  position: relative;
}

.qoute {
  background-color: #6872e4; 
  border: none; 
  max-width: 44px;
  max-height: 44px;
  width: 100%;
  height: 100%;
  border-radius: 8px; 
  display: flex;
  justify-content: center;
  position: absolute;
  box-sizing: border-box;
  padding: 12px;
  top: -25px;
  left: 25px;
  


}



.testimonial-bubble-photo-parent {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.testimonial-bubble-name {

}

.testimonial-bubble p {
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 0;
  text-wrap: left;
    
}

.testimonial-bubble-name h5 {
  padding: 0;
  margin: 0;
  font-size: 16px;
  
}

.testimonial-bubble-name p {
  padding: 0;
  margin: 0;
  padding-top: 0.3rem;
}

.stars {
  max-width: 100px;
}

.stars svg {
  width: 100%;
}