.sign-in-button {
  background-color: #5a67d8; /* Blå färg */
  color: white; /* Textfärg */
  border: none; /* Ingen kantlinje */
  border-radius: 5px; /* Rundade hörn */
  padding: 10px 20px; /* Inre marginaler för att göra knappen större */
  font-size: large; 
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer; 
}

.sign-in-button span {
  font-size: 18px; /* Storlek på ikonen */
}

/* Stil vid hovring */
.sign-in-button:hover {
  background-color: #4c51bf; /* Lite mörkare blå färg vid hovring */
  text-decoration: wavy; /* Lägg till en vågig understrykning vid hovring */
  color: #e0e0e0; /* Ljusare textfärg vid hovring */
}

