.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  
  
}

.nav-links {
  list-style: none;
  text-decoration: none;
  
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: large;
  
}

.nav-links a:hover,
.nav-links a:active {
  outline: none;
  text-decoration: wavy;
  color: #00000038;
  
}

