.breadcrumb {
  display: flex;
  align-items: center;
  color: #9397ad;
  gap: 5px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.breadcrumb-item {
  text-decoration: none;
  color: #9397ad;
}

.breadcrumb-item:hover {
  color: #4a5568;
}

.breadcrumb-active {
  color: #6366f1;
}
